# Compiled Form Modules
*.fmx

# Compiled Menu Modules
*.mmx

# Compiled Pre-Linked Libraries
*.plx

# java classes
*.class

#
get.sh
dist.sh
push.sh
pull.sh
pub.sh
.push
.pull
.pub

#
archive
depend
taspo
opatch
ddtek
test
issue

# 
*.pptx

#
jdbc/hive.jar
